version: '3.8'
services:
  frontend:
    build: ./frontend # Path to your React folder
    ports:
      - "80:80"
    depends_on:
      - api

  api:
    build: ./backend # Path to your Node folder
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb://db:27017/myapp
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

volumes:
  mongodb_data: